.scrollUpBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  display: block;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(100%);
  z-index: 999;
}

@media screen and (max-width: 800px) {
  .scrollUpButton {
    display: none;
  }
}
.show {
  opacity: 1;
  transform: translateY(0);
}
